.image {
  width: 80%;
  height: 50%;
  border: 1px solid rgb(141, 140, 140);
  border-radius: 3px;
  align-self: center;
}
.course {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 75%;
}

.course-card-custom-style {
  background-color: rgb(255, 255, 255);
}
.course-card-custom-style:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #837e7e;
}
