.image {
  width: 80%;
  height: 50%;
  border: 1px solid rgb(141, 140, 140);
  border-radius: 3px;
  align-self: center;
}

.course-card-custom-style {
  background-color: rgb(255, 255, 255);
  height: 100%;
}
.course-card-custom-style:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #837e7e;
}

.img-gray:hover {
  filter: grayscale(1);
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #414949;
}
